.pesanan-wrapper {
  padding: 2rem;
}
.pesanan-content {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.pesanan-content {
  background: #fff;
  height: 100%;
  padding: 1rem;
  border-radius: 20px;
}
.pid-table table thead {
  color: #939393;
}
.pid-table table thead tr th {
  font-weight: bold;
  font-size: 16px;
}

.pid-table table thead tr th.sortable:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.pid-table table thead tr th div.th-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pid-table table thead tr th.sortable div.th-content span.sort {
  display: block;
}
.pid-table table tbody tr td {
  font-weight: 500;
}
.pid-table table thead tr th,
.pid-table table tbody tr td {
  white-space: nowrap;
}
.pid-table table tbody {
  border-top: unset !important;
}
.pid-table table tbody tr:hover td {
  background-color: #fafafa;
}

.pid-table .pid-table-footer {
  display: flex;
  justify-content: space-between;
}
.pid-table .pid-table-footer div.select-max-row {
  width: 64px;
}
