.profile-wrapper {
  height: 65vh;
}
.profile-content {
  height: 100%;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}
.profile-container.container {
  height: 100%;
}
.background-content {
  background: #fff;
  height: 350px;
  padding: 1rem;
  border-radius: 20px;
}
.card-body.card-profile {
  /* height: 40vh; */
  padding: 0;
}
.isi-content {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
}
